@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.credit-card {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    padding: 0 1em;
    background: #231942;
    background: linear-gradient(75deg, #231942 0%, #5E548E 25%, #9F86C0 47%, #BE95C4 87%, #E0B1CB 100%);
    color: white;
    width: 22vw;
    min-width: 400px
}

.card-number {
    display: block;
    align-self: center;
    font-size: 1.5em;
}

.card-image{
    display: inline-block;
    width: 64px
}