.hero {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  
  .f-page img {
    width: 100%;
    position: relative;
  }
  
  .f-page .overlay {
    position: absolute;
    top: 120px;
    left: 250px;
    text-align: center;
    font-size: 30px;
  }


.cards{
    display: flex;
    justify-content: space-around;
        
}

a.loginlinks{
    font-size: 20px;
 }

.flex{ 
    flex: 5 1 0 50px;
    box-sizing: border-box;
    padding: 80px 100px 80px 100px;
    background-color: #f2f2f2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .advertising{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
.sentences{
    font-size: 50px;
    font-style: normal;
    padding: 20px 10px 40px 0;
    text-indent: 15px;
    text-align: center;
}

/* advertising letters */
.advcolor{
    color:#9f86c0;
    font-weight: bold;
}

.flexwords{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content:center;
    text-align: center;
}

img.piggy{
    width:100%;
    height:100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

  /* footer */
footer{
    background-color: #9f86c0;
    list-style: none;
    font-size: 20px;
    padding: 20px;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
  }


  /* media queries
   */

   

